@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --back: green;
}

body {
  margin: 1rem;
  font-family: Montserrat, sans-serif;
}

.logo {
  width: 11%;
  background-color: red;
}

div {
  heigth: 10vh;
  background-color: green;
}
